$bgcolor: #f8f9fa;
$bgcolor-i:#267DFD;






#feature {
  .container {
    .grid {
      .feature-item {
        background-color: $bgcolor;
        .feature-icon {
          position: relative;
          i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            background-color: $bgcolor-i;
            font-size: 2rem;
            line-height: 0.25rem;
        }

        }
        .feature-titile{

        }
      }
    }
  }
}
